<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Rtx.Core.Log" type="Rtx.Core.Log.Config.RtxLogConfigurationSectionHandler, Rtx.Core.Log, Version=1.0.0.0, Culture=neutral, PublicKeyToken=009b25a7420f87aa"/>
		<section name="ServersConfiguration" type="GeoServer.ServersConfiguration, GeoServer, Version=1.0.0.0, Culture=neutral"/>
	</configSections>
	<appSettings>
		<!-- http://ipinfodb.com key 1a524d369239110fc370b9b27f8fdfe61171c478a2895aa86ac7fb584fbaea5d-->
		<!--<add key="UrlTemplate" value="http://api.ipinfodb.com/v2/ip_query_country.php?key=1a524d369239110fc370b9b27f8fdfe61171c478a2895aa86ac7fb584fbaea5d&amp;ip={0}"/>-->
		<add key="UrlTemplate" value="http://api.ipinfodb.com/v3/ip-city/?key=1a524d369239110fc370b9b27f8fdfe61171c478a2895aa86ac7fb584fbaea5d&amp;ip={0}&amp;format=xml"/>
		<add key="XPathCountryQuery" value="//Response/countryCode"/>
		<add key="XPathCountryQueryNamespaces" value=""/>
		<!--<add key="UrlTemplate" value="http://freegeoip.appspot.com/xml/{0}"/>
		<add key="XPathCountryQuery" value="//Response/CountryCode"/>
		<add key="XPathCountryQueryNamespaces" value="" />-->
		<!--<add key="UrlTemplate" value="http://api.hostip.info/?ip={0}"/>
		<add key="XPathCountryQuery" value="//HostipLookupResultSet/gml:featureMember/Hostip/countryAbbrev"/>
		<add key="XPathCountryQueryNamespaces" value="gml,http://www.opengis.net/gml" />-->
		<add key="DefaultKothServerIp" value="11.11.11.11"/>
		<add key="EnableCallLogger" value="true"/>

		<add key="UsaCountryCode" value="US"/>
		<add key="XPathZipQuery" value="//Response/zipCode"/>
		<add key="ZipDiscriminator" value="64400"/>
		<add key="UsaLowIp" value="12.34.56.78"/>
		<add key="UsaHiIp" value="21.43.65.87"/>
	</appSettings>
	<!--
	http://www.worldatlas.com/aatlas/ctycodes.htm, http://www.jaxworld.com/abbr.html
	http://www.nationmaster.com/countries?b_region=1

	-Asia "AF,AM,AZ,BD,BT,CN,GE,IN,JP,KZ,KP,KR,KG,MV,MN,NP,PK,RU,LK,TJ,TM,UZ"
	-Middle East "BH,CY,IR,IQ,IL,JO,KW,LB,OM,QA,SA,SY,TR,AE,YE"
	-Europe "AL,AD,AT,BY,BE,BA,BG,HR,CZ,DK,EE,FO,FI,FR,DE,GI,GR,VA,HU,IE,IT,LV,LI,LT,LU,MK,MT,MD,MC,NL,NO,PL,PT,RO,SM,YU,SK,SI,ES,SE,CH,UA,UK"

	-Africa "DZ,AO,BJ,BW,BF,BI,CM,CF,TD,KM,CG,DJ,EG,GQ,CI,ER,ET,GA,GM,GH,GN,GW,KE,LS,LR,LY,MG,MW,ML,MR,YT,MA,MZ,NA,NE,NG,RW,SH,SN,SC,SL,SO,ZA,SD,SZ,ST,TZ,TG,TN,UG,EH,ZM,ZW"
		?Europa Island
		?Glorioso Islands
		?Juan de Nova Island
		?Tromelin Island

	-Oceania Australia "AU"
	-Oceania without Australia "AS,CK,FJ,PF,GU,KI,MH,FM,NR,NC,NZ,NU,NF,MP,PW,PG,PN,WS,SB,TK,TO,TV,VU,WF"
		?Coral Sea Islands
		?Wake Island

	-Central America and the Caribbean "AI,AG,AW,BS,BB,BZ,VG,KY,CR,CU,DM,DO,SV,GD,GP,GT,HT,HN,JM,MQ,MS,AN,NI,PA,PR,KN,LC,VC,TT,TC,VG"
		?European Union *
		?Navassa Island
		?Saint Barthelemy
		?Saint Martin
	
	-Antarctic Region "AQ,BV,HM,GS "
		?French Southern and Antarctic Lands
	-Arctic Region "GL,IS,SJ"
	-South America "AR,BO,BR,CL,CO,EC,FK,GF,GY,PY,PE,SR,UY,VE"
	-Southeast Asia "BN,MM,KH,CX,CC,TP,HK,ID,LA,MO,MY,PH,SG,TW,TH,VN "
		?Ashmore and Cartier Islands
		?Paracel Islands
		?Spratly Islands
	-Other "IO,CV,MU"
		?Clipperton Island
	-North America "BM,CA,MX,US"
		?Saint Pierre and Miquelon
	-World "RE"
	-unknown country (like 127.0.0.1) "XX,RD"
-->
	<ServersConfiguration>
		<serversSettings>
			<!--Australia + Southeast Asia -->
			<add ip="22.22.22.22" countries="AU, BN,MM,KH,CX,CC,TP,HK,ID,LA,MO,MY,PH,SG,TW,TH,VN"/>
			<!--All other unlised countries are resolved with DefaultKothServerIp -->
		</serversSettings>
	</ServersConfiguration>
	<!--<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>-->
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<Rtx.Core.Log>
		<appender name="EmergencyAppender" type="Rtx.Core.Log.Appender.RollingFileAppender">
			<file value="..\..\Logs\GeoServer\Emergency.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value=".yyMMddHH"/>
			<staticLogFileName value="false"/>
			<lockingModel type="Rtx.Core.Log.Appender.FileAppender+MinimalLock"/>
			<layout type="Rtx.Core.Log.Layout.PatternLayout">
				<conversionPattern value="%newline%date%newline%message%newline %exception"/>
			</layout>
		</appender>
		<appender name="CallAppender" type="Rtx.Core.Log.Appender.RollingFileAppender">
			<file value="..\..\Logs\GeoServer\Call.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value=".yyMMddHH"/>
			<staticLogFileName value="false"/>
			<lockingModel type="Rtx.Core.Log.Appender.FileAppender+MinimalLock"/>
			<layout type="Rtx.Core.Log.Layout.PatternLayout">
				<conversionPattern value="%newline%date%newline%message%newline %exception"/>
			</layout>
		</appender>
		<logger name="Emergency" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="EmergencyAppender"/>
		</logger>
		<logger name="Call" additivity="false">
			<level value="ALL"/>
			<appender-ref ref="CallAppender"/>
		</logger>
	</Rtx.Core.Log>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
